<a href="https://colab.research.google.com/github/Spsunil8682/python-practice/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for k in range(1,10) :
    print(k)
    if k == 5 + 4:
        break

if True:
    print('Hello')
    a = 5

if True: print('Hello'); a = 5

1
2
3
4
5
6
7
8
9
Hello
Hello

In [ ]:
#   This is a comment
#   print name of the course

print('Welcome to OOP Course')


"""This is also a
an example of
multi-line comments"""

Welcome to OOP Course

'This is also a\nan example of\nmulti-line comments'

In [ ]:

def sum(num):
    """Function to the values"""
    return 2+num

print(sum.__doc__)

Function to the values

In [ ]:
print("India")
type("India")

India

str

In [ ]:

a = 50
a=b=50
b=100

In [ ]:
a = 100  
b = a  
print(id(a)) 
print(id(b)) 
print(a)
print(a)
# Reassigned variable a  
a = 800  
print(id(a))
print(a)

94602063128160
94602063128160
100
100
140692904106544
800

In [ ]:
name = "OOPCourse"  
Myage=Herage= 45       # Assigning single value to multiple variables
a=b=c=90  
a=b=c=4,5,6               
a,b,c=4,5,6            # Assigning multiple values to multiple variables:

print(name)  
print(Myage,Herage)  
print(a,b,c) 

name = "Test1"  
Name = "Test2"  
naMe = "Test3"  
NAME = "Test4"  
n_a_m_e = "Test5"  
_name = "Test6"  
name_ = "Test7"  
_name_ = "Test8"  
na80me = "Test9"  
print(name,Name,naMe,NAME)            # Print multiple values  
print(name,Name,naMe,NAME,n_a_m_e, NAME, n_a_m_e, _name, name_,_name, na80me)

OOPCourse
45 45
4 5 6
Test1 Test2 Test3 Test4
Test1 Test2 Test3 Test4 Test5 Test4 Test5 Test6 Test7 Test6 Test9

In [ ]:
# Declaring a function  
def Myadd():  
    # Defining local variables. They has scope only within a function  
    m = 40  
    n = 40  
    p = m + n 
    print("The sum is:", p)  
  
# Calling a function  
Myadd()  

# Accessing local variable outside the function. Gives an error   
print(m)

The sum is: 80

NameError: ignored

In [ ]:
# Declare a variable and initialize it  
x = 200  
  
# Global variable in function  
def mFunction():  
    # printing a global variable  
    global x  
    print(x)  
    # modifying a global variable  
    x = 'Welcome To OOP'  
    print(x)  
  
mFunction()  
print(x)  

del x  
print(x)

200
Welcome To OOP
Welcome To OOP

NameError: ignored

In [ ]:
c = 50000000000000000000000000000000000000000000  
c = c + 1  
print(type(c))  
print (c)

<class 'int'>
50000000000000000000000000000000000000000001

In [ ]:
a=100  
Str1 ="We are learning Python"  
c = 20.5  
print(type(a))  
print(type(Str1))  
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:



a = 5  
print("The type of a", type(a))  
  
b = 50.5  
print("The type of b", type(b))  
  
c = 1+3j  
print("The type of c", type(c))  
print(" c is a complex number", isinstance(1+3j,complex))

The type of a <class 'int'>
The type of b <class 'float'>
The type of c <class 'complex'>
 c is a complex number True

In [ ]:
str = "This sentence has  double quotes"  
print(str)  
s1 = '''''This line has multiline 
string'''  
print(s1)

This sentence has  double quotes
''This line has multiline
string

In [ ]:

str1 = 'hello world'         #string str1    
str2 = ' Happy Holidays'      #string str2    
print (str1[0:2])            #printing first two character using slice operator    
print (str1[4])             #printing 4th character of the string    
print (str1*2)               #printing the string twice    
print (str1 + str2)          #printing the concatenation of str1 and str2

he
o
hello worldhello world
hello world Happy Holidays

In [ ]:
list1  = [1, "hi", "Python", 2]    
#Checking type of given list  
print(type(list1))  
  
#Printing the list1  
print (list1)  
  
# List slicing  
print (list1[3:])  
  
# List slicing  
print (list1[0:2])   
  
# List Concatenation using + operator  
print (list1 + list1)  
  
# List repetation using * operator  
print (list1 * 3)

<class 'list'>
[1, 'hi', 'Python', 2]
[2]
[1, 'hi']
[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]
[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]

In [ ]:
tup  = ("hi", "Python", 2)    
# Checking type of tup  
print (type(tup))    
  
#Printing the tuple  
print (tup)  
  
# Tuple slicing  
print (tup[1:])    
print (tup[0:1])    
  
# Tuple concatenation using + operator  
print (tup + tup)    
  
# Tuple repatation using * operator  
print (tup * 3)     
  
# Adding value to tup. It will throw an error.  
t[2] = "hi"

<class 'tuple'>
('hi', 'Python', 2)
('Python', 2)
('hi',)
('hi', 'Python', 2, 'hi', 'Python', 2)
('hi', 'Python', 2, 'hi', 'Python', 2, 'hi', 'Python', 2)

NameError: ignored

In [ ]:

dict = {1:'Karnataka', 2:'Kerala', 3:'UP', 4:'Punjab'}     
  
# Printing dictionary  
print (dict)  
  
# Accesing value using keys  
print("1st name is "+dict[1])   
print("2nd name is "+ dict[4])    
  
print (dict.keys())    
print (dict.values())

{1: 'Karnataka', 2: 'Kerala', 3: 'UP', 4: 'Punjab'}
1st name is Karnataka
2nd name is Punjab
dict_keys([1, 2, 3, 4])
dict_values(['Karnataka', 'Kerala', 'UP', 'Punjab'])

In [ ]:


# Python program to check the boolean type  

print(type(True))  
print(type(False))  
print(false)

<class 'bool'>
<class 'bool'>

NameError: ignored

In [ ]:

# Creating Empty set  
set1 = set()  
  
set2 = {'India', 20.4, 100,'OOP'}  
  
#Printing Set value  
print(set2)  
  
# Adding element to the set  
  
set2.add(10)  
print(set2)  
  
#Removing element from the set  
set2.remove(2)  
print(set2)

{100, 'OOP', 20.4, 'India'}
{100, 'India', 10, 'OOP', 20.4}

KeyError: ignored

In [ ]:
m = 15
n = 4

# Output: m + n = 19
print('m + n =',m+n)

# Output: m - n = 11
print('m - n =',m-n)

# Output: m * n = 60
print('m * n =',m*n)

# Output: m / n = 3.75
print('m / n =',m/n)

# Output: m // n = 3
print('m // n =',m//n)

# Output: m ** n = 50625
print('m ** n =',m**n)

m + n = 19
m - n = 11
m * n = 60
m / n = 3.75
m // n = 3
m ** n = 50625

In [ ]:
a = 10
b = 12

# Output: a > b is False
print('a > b is',a>b)

# Output: a < b is True
print('a < b is',a<b)

# Output: a == b is False
print('a == b is',a==b)

# Output: a != b is True
print('a != b is',a!=b)

# Output: a >= b is False
print('a >= b is',a>=b)

# Output: a <= b is True
print('a <= b is',a<=b)

a > b is False
a < b is True
a == b is False
a != b is True
a >= b is False
a <= b is True

In [ ]:
m = True
n = False

print('m and n is',m and n)

print('x or y is',x or y)

print('not x is',not x)

m and n is False

NameError: ignored

In [ ]:
x1 = 10
y1 = 10
x2 = 'Welcome'
y2 = 'Welcome'
x3 = [10,20,30]
y3 = [10,20,30]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

False
True
False

In [ ]:
x = 'Hello world'
y = {1:'a',2:'b'}

# Output: True
print('H' in x)

# Output: True
print('hello' not in x)

# Output: True
print(1 in y)

# Output: False
print('a' in y)

True
True
True
False

In [ ]:
# If the number is positive, we print an appropriate message

# Python if... Statement - 1 option
num = 30
if num > 0:
    print(num, "is a positive number.")
print("printed number status.")

# Python if...else Statement  - 2 option
if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")

# Python if...elif...else Statement - 3 Option
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

30 is a positive number.
printed number status.
Positive or Zero
Positive number

In [ ]:
num = float(input("Enter a number: "))

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: 8
Positive number

In [ ]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [60, 25, 33, 85, 40, 22, 55, 43, 51]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 414

In [ ]:
print(range(10))
print(list(range(15)))
print(list(range(2, 10)))
print(list(range(2, 30, 3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 5, 8, 11, 14, 17, 20, 23, 26, 29]

In [ ]:



# Program to iterate through a list using indexing

music = ['pop', 'rock', 'jazz','classic']

# iterate over the list using index

for i in range(len(music)):
    print("I like", music[i])

#combined with the len() function to iterate through a sequence using indexing.

I like pop
I like rock
I like jazz
I like classic

In [ ]:

# program to display student's marks from record
student_name = 'Soyuj'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')


# Use of break statement inside the loop

for val in "string":
    if val == "i":
        break
    print(val)

print("The end")


# Program to show the use of continue statement inside loops

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

No entry with that name found.
s
t
r
The end
s
t
r
n
g
The end

In [ ]:
# To take input from the user,
# n = int(input("Enter n: "))

n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)


# While loop with else

'''Example to illustrate
the use of else statement
with the while loop'''

counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

The sum is 55
Inside loop
Inside loop
Inside loop
Inside else